@import '../../../scss/theme';

.leftPanel {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 300px;

  @include themed {
    border-right: 0.1px solid t('border-color');
    background: t('background-chat');
  }
}
