@import '../../../scss/theme';

.leftPanelHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 6%;
  padding: 3rem 1rem;
  box-sizing: border-box;

  &__icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
    position: relative;
  }

  &__icon {
    cursor: pointer;

    @include themed {
      color: t('text-color-medium');
      background: t('background-medium');
    }

    &--left {
      width: 4rem;
      height: 4rem;
    }

    &--right {
      font-size: 2.5rem;
      width: 2.5rem;
      height: 2.5rem;
      margin-left: 3rem;
    }

    &:last-child {
      margin-right: 2rem;
    }
  }

  &__message {
    &__container {
      text-align: left;
      width: 58rem;
      height: 4.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    &__title {
      font-size: 1.6rem;
    }

    &__subtitle {
      font-size: 1.3rem;
    }
  }
}
